<h1>Library</h1>
<div id="sidebar">
<div class='category'>Categories</div>
<form (submit)="filter(applet.value)">
  <div for="applet">
    <input placeholder="Search applets" type="text" #applet>
  </div>
</form>

<div *ngIf="cat != []; then showcat else dne"> 
</div>
<ng-template #showcat>
  <ul class="ng">
    <li *ngFor="let element of cat;let i =index">
      <button #showbutton (click)="onClick(element,applet.value)" >{{element}}
        <span class='numberCircle'>{{num[i]}}</span>
      </button>      
    </li> 
  </ul>
</ng-template>
<ng-template #dne>
  <ul class="ng">
    <li *ngFor="let element of category"><button>{{element}}<span class='numberCircle'>{{num[2]}}</span></button> </li> 
  </ul>
</ng-template>
</div>
<div id='apple'>
  <div class='title'>Applets</div>

  <div *ngIf="appletName!='';then showapplet else message" onkeydown="remove()"></div>
  
  <ng-template #showapplet><div id='appletname'class="listApplet" style='margin-top:70px;'*ngIf="applet.value"> {{appletName}}</div></ng-template>
  <ng-template #message></ng-template>

  <div *ngIf="list !=[] ;then displayapp else nothing"></div>
  <ng-template #displayapp >
   
  <ul >
      <li class="listApplet"*ngFor ="let x of list">{{x}}</li>     
  </ul> 
  </ng-template>
  <ng-template #nothing><p>there is no applet belong this       catergory</p></ng-template>
</div>
